.table {
    background-color: #EBF4F6;
    margin: 0 20rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    align-items: center;
    padding-bottom: 1rem;
}
h2{
    color: #088395;
}

th {
    padding: .6rem;
}
td {
    padding: .3rem;
}
.delete-button, .edit-button {
    padding: 0 .5rem;
    font-size: small;
    border-radius: .5rem;
    background-color: #37B7C3;
    cursor: pointer;
}
